/* ============================================================================
   VARS
==============================================================================*/

/* colors */
$color__body-text: #333333;
$color__gray-text: #92959A;
$color__gray-border: lighten($color__gray-text, 20%);
$color__primary: #68E082;
$color__silver: #F5F7F9;
$color__white: #FFFFFF;


/* responsive break points */
$bp-mp-max: 480px;
$bp-xs-min: $bp-mp-max + 1;
$bp-xs-max: 767px;
$bp-sm-min: $bp-xs-max + 1;
$bp-sm-max: 991px;
$bp-md-min: $bp-sm-max + 1;
$bp-md-max: 1999px;
$bp-lg-min: $bp-md-max + 1;


/* calculations */
$onehalf: 100% / 2;
$onethird: 100% / 3;
$onefourth: 100% / 4;
$onefifth: 100% / 5;






/* ============================================================================
   RESETS
==============================================================================*/
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $color__body-text;
    line-height: 1.5;
    background: $color__silver;
}
a, a:hover, a:active, a:focus {
    text-decoration: none;
}






/* ============================================================================
   UTILS
==============================================================================*/

/* layout */
.container {
    width: 90%;
    margin: auto;
}
.page-wrapper {
    padding-top: 2em;
    padding-bottom: 5em;
}


/* typography */
.text-center {
    text-align: center;
}


/* theme */
.color-primary {
    color: $color__primary;
}


/* flexbox */
.flex {
    display: flex;
    &-col {
        flex-direction: column;
    }
    &-center {
        &-abs {
            align-items: center;
            justify-content: center;
        }
        &-h {
            justify-content: center;
        }
        &-v {
            align-items: center;
        }
    }
    &-l-2d {
        flex-wrap: wrap;
    }
    &-l-1d {
        flex-wrap: nowrap;
    }
}


/* responsive grid */
.col {
    &-mp-1 {
        width: 100%;
    }
    &-xs-2 {
        @media (min-width: $bp-xs-min) {
            width: $onehalf;
        }
    }
    &-sm-3 {
        @media (min-width: $bp-sm-min) {
            width: $onethird;
        }
    }
    &-md-4 {
        @media (min-width: $bp-md-min) {
            width: $onefourth;
        }
    }
    &-lg-5 {
        @media (min-width: $bp-lg-min) {
            width: $onefifth;
        }
    }
}






/* ============================================================================
   SPECIFIC
==============================================================================*/

$header-sitetitle-width: 20%;
$header-search-width: 100% - 2 * $header-sitetitle-width;
$appcard-radius: 1.5em;

/* appsearch */
.as {
    &-header {
        padding: 2em 0;
        box-shadow: 0 1px 15px lighten($color__gray-text, 32.5%);
        background: $color__white;
        &__sitetitle {
            width: $header-sitetitle-width;
        }
        &__logo {
            font-size: 2em;
            font-weight: 600;
            color: $color__body-text;
        }
        &__search {
            width: $header-search-width;
        }
    }
    &-search {
        &__input {
            padding: 0.5em;
            width: 100%;
            font-size: 1.15em;
            border: 1px solid lighten($color__gray-border, 8%);
        }
        &__button {
            visibility: hidden;
        }
    }
    &-nav {
        display: block;
        font-size: 1.2em;
        a {
            color: $color__gray-text;
            font-weight: 600;
        }
    }
    &-appcard {
        display: block;
        background: $color__white;
        color: $color__body-text;
        border-radius: $appcard-radius;
        border: 1px solid lighten($color__gray-border, 13%);
        box-shadow: 0 5px 20px darken($color__silver, 4%);
        overflow: hidden;
        width: 85%;
        margin: 1.3em auto;
        &__header {
            overflow: hidden;
            height: 20em;
            @media (min-width: $bp-xs-min) {
                height: 18em;
            }
            @media (min-width: $bp-sm-min) {
                height: 16em;
            }
            @media (min-width: $bp-lg-min) {
                height: 24em;
            }
        }
        &__footer {
            padding: 0 1.2em;
        }
        &__icon {
            width: 60%;
            height: auto;
            overflow: hidden;
        }
        &__title {
            font-size: 1.1em;
            height: 2.5em;
        }
        &__rating {
            padding-top: 0.5em;
            padding-bottom: 1.5em;
            color: $color__gray-text;
        }
    }
    &-app {
        &__name {
            font-size: 1.6em;
            padding-bottom: 1em;
        }
        &__rnr {
            padding: 1em;
            font-size: 1.2em;
            &__rating {
                margin-right: 1em;
            }
            &__review {
                margin-left: 1em;
            }
        }
        &__developer {
            border: 2px solid $color__gray-border;
            padding: 1.3em 3em;
            &__name {
                font-weight: bold;
                font-size: 1.2em;
            }
            &__email {
                padding-top: 0.5em;
            }
        }
        &__downloads {
            margin: 2em;
            background: $color__primary;
            padding: 1em 2em;
            font-size: 1.2em;
            font-weight: bold;
            i {
                padding-right: 1em;
            }
        }
        &__meta {
            margin-top: 2.5em;
            font-size: 1.1em;
            div {
                margin: 0 1em;
            }
        }
        &__desc {
            padding: 2em 0 5em;
            @media (min-width: $bp-md-min) {
                width: 55em;
            }
        }
        &__screenshots {
            width: 100%;
            &__scroller {
                overflow-x: scroll;
            }
            &__img {
                margin-right: 1.5em;
            }
        }
    }
}
